/**************************
 * Valadoc.org Stylesheet *
 **************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/**************
 * Typography *
 **************/

body {
    color: #111;
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    font-weight: 200;
    margin: 32px 0;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 16px 0;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0;
}

p {
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.6em;
    max-width: 65ch;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/***********
 * Nav Bar *
 ***********/

body {
    display: flex;
    flex-direction: row;
    min-width: 250px;
}

nav.sidebar {
    background-color: #fcfcfc;
    border-right: 1px solid #dedede;
    color: #666;
    display: block;
    flex-direction: column;
    flex: 0.15 0 auto;
    height: 100vh;
    left: -100%;
    max-width: 300px;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: left 200ms ease;
    z-index: 8888;
}

nav.sidebar.active {
    left: 0;
    max-width: 75vw;
}

nav.sidebar hr {
    display: none;
}

nav.sidebar > a.logo {
    align-items: center;
    background-color: #403757;
    display: none;
    flex: 0 0 auto;
    height: 64px;
    justify-content: center;
}

nav.sidebar > div.search > input[type="text"] {
    border: none;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 64px;
    outline: none;
    padding: 20px;
    transition: background 100ms ease;
    width: 100%;
}

nav.sidebar > div.search > input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.03);
}

@custom-selector :--sidebar__ul nav.sidebar .site_navigation ul, nav.sidebar #search-results;

nav.sidebar #navigation-content {
    display: block;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

nav.sidebar .site_navigation {
    display: block;
}

:--sidebar__ul {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow-y: auto;
}

:--sidebar__ul:not(:first-of-type) {
    border-top: 1px solid #dedede;
}

:--sidebar__ul:last-of-type {
    flex: 1 1 auto;
}

:--sidebar__ul li {
    align-items: center;
    display: inline-flex;
    padding: 9px 15px;
}

:--sidebar__ul li:hover,
:--sidebar__ul li.active {
    background-color: rgba(0, 0, 0, 0.03);
}

:--sidebar__ul li::before {
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    height: 15px;
    margin-right: 12px;
    width: 15px;
}

:--sidebar__ul a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

:--sidebar__ul a::before {
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 15px;
    left: -27px;
    position: absolute;
    width: 15px;
}

:--sidebar__ul .search-desc {
    display: none;
}

main {
    align-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

main > header {
    align-items: center;
    background-color: #403757;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    font-size: 18px;
    height: 64px;
    justify-content: center;
}

main > header,
main > header * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

main > header > div {
    cursor: pointer;
    height: 64px;
    width: 64px;
}

main > header > div:hover,
main > header > div:active {
    background-color: rgba(0, 0, 0, 0.2);
}

main > header > a {
    flex: 1 1 auto;
}

main #content {
    box-sizing: content-box;
    flex: 1 0 auto;
    padding: 0 24px 15px;
}

main > footer {
    background-color: #fefefe;
    border-top: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: space-between;
}

main > footer * {
    display: flex;
}

main > footer span {
    padding: 12px;
}

main > footer ul {
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

main > footer a {
    align-items: center;
    color: inherit;
    padding: 12px;
    text-decoration: none;
    transition: background 50ms ease;
}

main > footer a:hover,
main > footer a:active {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 760px) {
    nav.sidebar {
        position: static;
    }

    nav.sidebar > a.logo {
        display: flex;
    }

    main > header {
        display: none;
    }
}

@media (min-height: 400px) {
    nav.sidebar {
        display: flex;
    }
}

@media (min-height: 750px) {
    nav.sidebar > ul {
        display: flex;
    }
}

/************************
 * Valadoc site_content *
 ************************/

.navi_inline {
    font-size: 12px;
    line-height: 21px;
    list-style: none;
    margin: 6px 3px;
    padding-left: 6px;
}

.navi_inline {
    padding-left: 12px;
    margin-bottom: 12px;
}

.navi_inline li::before,
.navi_main li::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

.site_navigation .abstract_class > a,
.navi_inline .abstract_class > a {
    font-style: italic;
}

#content h1 {
    margin-bottom: 0;
}

#content hr {
    border: 0;
    color: #b4a0c1;
    background-color: #b4a0c1;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.highlight {
    border-radius: 6px;
    padding: 6px;
}

.highlight:hover {
    background-color: #eee;
}

.highlight .package {
    font-size: 14px;
    padding-right: 6px;
}

.highlight .package::before,
.document::before,
.video::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

.highlight .links {
    float: right;
}

.highlight .links p {
    display: inline-block;
    margin: 0 6px;
}

.highlight .cdocs,
.highlight .homepage {
    width: 48px;
}

.highlight .devhelp {
    width: 115px;
}

.highlight .description {
    margin-left: 22px;
}

.highlight .description p {
    font-size: 12px;
    margin-top: 6px;
}

.main_optional_parameter {
    font-style: italic;
}

.main_diagram {
    border-style: none;
    display: block;
    margin: 0 auto;
}

.site_navi {
    text-align: right;
}

.main_notification {
    background-color: #eef;
    background-image: url(/images/warning.svg);
    background-position: 6px 0.5em;
    background-repeat: no-repeat;
    border: 1px solid #aaf;
    margin: 10px;
    min-height: 48px;
    padding: 5px 10px 5px 60px;
}

.main_table {
    border-collapse: collapse;
    border: 1px solid #aaf;
    background: #eef;
    margin-right: auto;
    margin-left: auto;
}

.main_sourcesample {
    background-color: #eef;
    border: 1px solid #aaf;
    margin: 10px;
    padding: 5px 10px 5px 5px;
}

.site_header {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #aaf;
    width: 100%;
}

.space {
    clear: both;
    height: 10px;
}

.tooltip {
    background-color: rgba(250, 250, 250, 0.95);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 30em;
    padding: 12px;
    text-align: left;
    z-index: 9999;
}

.tooltip * {
    padding: 0;
    margin: 0;
}

.tooltip p {
    margin-top: 4px;
}

.site_title {
    text-align: left;
}

.main_source {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.main_type {
    text-decoration: none;
    font-style: italic;
}

.main_basic_type {
    text-decoration: none;
    font-weight: bold;
    color: #2e8b57;
}

.main_keyword {
    text-decoration: none;
    font-weight: bold;
    color: #dc322f;
}

.main_literal {
    text-decoration: none;
    color: #2ba199;
}

.main_escape {
    text-decoration: none;
    color: #dc322f;
}

.main_comment {
    text-decoration: none;
    color: #93aabc;
}

.main_preprocessor {
    text-decoration: none;
    color: #dc322f;
}

.xml_cdata {
    text-decoration: none;
    font-weight: normal;
    color: #93aabc;
}

.xml_escape {
    text-decoration: none;
    font-weight: normal;
    color: #dc322f;
}

.xml_element {
    text-decoration: none;
    font-weight: normal;
    color: #258bd2;
}

.xml_attribute {
    text-decoration: none;
    font-weight: bold;
    color: #93aabc;
}

.xml_attribute_value {
    text-decoration: none;
    font-weight: normal;
    color: #2ba199;
}

.xml_comment {
    text-decoration: none;
    font-weight: normal;
    color: #93aabc;
}

.main_code_definition {
    background-color: #eee;
    border-radius: 6px;
    font-family: "Roboto Mono", monospace;
    margin: 12px;
    padding: 12px;
}

span.leaf_code_definition {
    font-family: "Roboto Mono", monospace;
}

div.leaf_brief_description {
    display: block;
    margin-left: 40px;
}

.main_parameter_table_name,
.main_errordomain_table_name,
.main_enum_table_name {
    vertical-align: top;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    padding-right: 10px;
}

.main_parameter_table,
.main_errordomain_table,
.main_enum_table {
    margin-left: 20px;
}

.main_parameter_table_unknown_parameter {
    color: gray;
}

a.abstract_class,
.brief_description a,
.description a {
    display: inline-block;
    padding-right: 17px;
    background-repeat: no-repeat;
    background-position: center right;
    border: 0;
}

.navi_link:hover,
.external_link:hover {
    text-decoration: underline;
}

.no_bullet li {
    list-style-type: none;
}

.css_content_literal {
    font-family: "Roboto Mono", monospace;
    color: #ff01ff;
}

code {
    font-family: "Roboto Mono", monospace;
}

.main_code_definition a,
.leaf_code_definition a {
    text-decoration: none;
    color: inherit;
}

.main_code_definition a:hover,
.leaf_code_definition a:hover {
    text-decoration: underline;
}

.box .headline {
    background-image: url("/images/coll_open.svg");
    background-position: calc(100% - 1px) center;
    background-repeat: no-repeat;
    background-color: #eef;
    border: 1px solid #aaf;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    font-weight: bold;
}

.box .content {
    border: 1px solid #aaf;
    border-top: none;
    overflow: auto;
    display: none;
    margin: auto;
    width: 90%;
}

.box .column {
    float: left;
    width: 33%;
}

.deprecated {
    opacity: 0.5;
    text-decoration: line-through;
}

/*********
 * Icons *
 *********/

.abstract_class::before,
a.abstract_class,
.description a.abstract_class,
.brief_description a.abstract_class {
    background-image: url('/images/abstractclass.svg');
    font-style: italic;
}

.abstract_method::before,
.description a.abstract_method,
.brief_description a.abstract_method {
    background-image: url('/images/abstractmethod.svg');
}

.abstract_property::before,
.description a.abstract_property,
.brief_description a.abstract_property {
    background-image: url('/images/abstractproperty.svg');
}

.class::before,
.main_list_cl::before,
.description a.class,
.brief_description a.class {
    background-image: url('/images/class.svg');
}

.constant::before,
.description a.constant,
.brief_description a.constant {
    background-image: url('/images/constant.svg');
}

.creation_method::before,
.main_list_m::before,
.description a.creation_method,
.brief_description a.creation_method {
    background-image: url('/images/constructor.svg');
}

.delegate::before,
.main_list_del::before,
.description a.delegate,
.brief_description a.delegate {
    background-image: url('/images/delegate.svg');
}

.document::before {
    background-image: url('/images/document.svg');
}

.enum::before,
.main_list_en::before,
.description a.enum,
.brief_description a.enum {
    background-image: url('/images/enum.svg');
}

.enumvalue::before,
.enum_value::before,
.description a.enumvalue,
.brief_description a.enumvalue {
    background-image: url('/images/enumvalue.svg');
}

.errorcode::before,
.description a.errorcode,
.brief_description a.errorcode {
    background-image: url('/images/errorcode.svg');
}

.errordomain::before,
.main_list_errdom::before,
.description a.errordomain,
.brief_description a.errordomain {
    background-image: url('/images/errordomain.svg');
}

.field::before,
.main_list_field::before,
.description a.field,
.brief_description a.field {
    background-image: url('/images/field.svg');
}

.interface::before,
.main_list_iface::before,
.description a.interface,
.brief_description a.interface {
    background-image: url('/images/interface.svg');
}

.method::before,
.description a.method,
.brief_description a.method {
    background-image: url('/images/method.svg');
}

.namespace::before,
.main_list_ns::before,
.description a.namespace,
.brief_description a.namespace {
    background-image: url('/images/namespace.svg');
}

.package::before {
    background-image: url('/images/package.svg');
}

.package_index::before {
    background-image: url('/images/packages.svg');
}

.property::before,
.main_list_prop::before,
.description a.property,
.brief_description a.property {
    background-image: url('/images/property.svg');
}

.signal::before,
.main_list_sig::before,
.description a.signal,
.brief_description a.signal {
    background-image: url('/images/signal.svg');
}

.static_method::before,
.description a.static_method,
.brief_description a.static_method {
    background-image: url('/images/staticmethod.svg');
}

.struct::before,
.main_list_stru::before,
.description a.struct,
.brief_description a.struct {
    background-image: url('/images/struct.svg');
}

.video::before {
    background-image: url('/images/video.svg');
}

.virtual_method::before,
.description a.virtual_method,
.brief_description a.virtual_method {
    background-image: url('/images/virtualmethod.svg');
}

.virtual_property::before,
.description a.virtual_property,
.brief_description a.virtual_property {
    background-image: url('/images/virtualproperty.svg');
}
